node_modules
node_modules/*
log
*.log
*.gz
.env
dist
bower_components
*.d.ts
.next
.DS_Store
.serverless
.serverless_nextjs
__snapshots__
coverage
*.zip
.env.dev
.env.prod
.env.testing
/*.csv
.env.prodbeta
dist/assets/*
